.u-font-weight-700 {
  font-weight: 700;
}

.u-font-weight-500 {
  font-weight: 500;
}

.u-margin-bottom-42 {
  margin-bottom: 4.2rem;

  @include respond(phone) {
    margin-bottom: 3rem;
  }
}

.u-margin-top-105 {
  margin-top: 10.5rem;

  @include respond(phone) {
    margin-top: 0;
  }
}

.u-margin-top-154 {
  margin-top: 15.4rem;

  @include respond(phone) {
    margin-top: 0;
  }
}

.u-width-280 {
  width: 28rem;
}

.u-width-800 {
  width: 80rem;

  @include respond(phone) {
    width: 35rem;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 2rem 4rem !important;
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(2.5rem);
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  transition: all 1s ease-in-out;
}